{% set routeName = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">
            🚀 LoL-Tracker 🚀
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'layout/navigation-item.html.twig' with {'title': 'Index', 'route': 'index'} %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'layout/navigation-item.html.twig' with {'title': 'Summoners', 'route': 'summoners'} %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'layout/navigation-item.html.twig' with {'title': 'Champions', 'route': 'champions'} %}
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'layout/navigation-item.html.twig' with {'title': 'Logout', 'route': 'logout'} %}
                {% else %}
                    {% include 'layout/navigation-item.html.twig' with {'title': 'Login', 'route': 'login'} %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>